.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.butn_class{
  padding: 30px;
}

.button1 {background-color: #04AA6D;} /* Green */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.param_data{
  display:flex;
  align-items: center;
  padding-top: 20px;
}

/* The switch - the box around the sldman */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The sldman */
.sldman {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sldman:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sldman {
  background-color: #2196F3;
}

input:focus + .sldman {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sldman:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sldmans */
.sldman.round {
  border-radius: 34px;
}

.sldman.round:before {
  border-radius: 50%;
} 


.value_display {
        margin-left: 10px;
        font-weight: bold;
}

.pg_block{
  display: inline-block; 
  width: 28%;
}

.sim_block{
  display: inline-block; 
  width: 38%;
}

.inp_data{
  padding-top: 20px;
}

.main_range{
  display: flex;
}

.txtin{
    padding:100px 100px;
    line-height:4vh;
}